body {
	font-family: Verdana;
	font-size: 15px;
	color: #0E0E0E;
	padding: 0px;
	text-align: center;
}

p{
	text-align:justify;
	padding: 5px;
}

hr {
	display: block;
	margin-top: 8px;
	border-style: inset;
	border-width: 1px;
}

h1, h2 {
	padding: 0px;
	color: #cf3434;
	margin: 15px;
}

h2 {
	font-size: 17px;
	 
}

#fejlec {
	padding: 0px;
	font-weight: normal;
	font-size:10px;
	background-color: #ed6160;
	color: white;

}

#fejlec h1{
	color: white;
	font-size:30px
}

#tartalom {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	width: 1000px;
}

#oszlop1, #oszlop3 {
	width: 220;
	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#oszlop2{
	width: 560;
	float: left;
	padding: 0px;
	background-color: #ffffff;
}

#lablec {
    clear: both;
    background-color: #ffffff;
}

.kep {
	padding: 0px 0px;
	border: none;
	width: 100px;
	height:  auto;
	margin-left: 10px;
	margin-right: 10px;
}

.kepalairas{
	font-size: 5px;
	text-align: center;
	word-wrap: break-word;
	width: 76px;
	margin: auto;
}

.szurke{
	color: #c7c7c7;
}

a:link, a:active, a:visited, a:hover {
	color: #0E0E0E;
}

